header {
    background-color: #333;
    color: #fff;
    height: 80px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
sub{
    background-color: #676464;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.brand {
    max-width: 960px;
    width: 100%;
}
  
.brand h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
.description {
    max-width: 960px;
    width: 100%;
}

.description h6{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
    height: 880px; /* Set a height if you like */
    overflow-y: auto;
    float: left;
    width: 17%;
  }
  
.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}
  
.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}
  
.vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
}
.paragraph{
    float:right;
    width: 83%;
    text-align: center;
}

